<!-- apenas aplica classe que renderiza imagem de background
caso a taskList esteja vazia -->
<section [ngClass]="{'loading': !taskList.length}">

    <ul *ngIf="taskList.length">
        <li *ngFor="let item of taskList; let i = index">
            <input type="checkbox" [(ngModel)]="item.checked">
            <input type="text" [(ngModel)]="item.task">

            <button (click)="deleteItemTaskList(i)">
                <img src="assets/icons/icon-trash.svg" alt="">
            </button>
        </li>
    </ul>
    
</section>

<app-todo-input-add-items (emitItemTaskList)="setEmitTaskList($event)"></app-todo-input-add-items>
<!-- *ngIf renderiza o elemento apenas se a condicao for verdadeira
(no caso, se a lista nao estiver vazia) -->
<app-todo-button-delete-all *ngIf="taskList.length" (click)="deleteAllTaskList()"></app-todo-button-delete-all>
